body{  
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.header-strong,
.nav-link.active {
  font-weight: 700;
}
.navbar{
    display:flex;
align-items: center;
justify-content: space-between;
}
.nav-list{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
}
.nav-link{
    text-decoration: none;
    color:#BF7506;
    margin-left:24px; 
width: 66px;
height: 24px;
}
.nav-link.active{
    font-weight: 700;
}
.conteiner{
    max-width: 860px;
    width: 100%;
    margin:auto;
}
.header{
    display: flex;
    align-items: center;
}